<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" throwExceptions="false" internalLogLevel="Off"
      internalLogFile="nlog-internal.log">

	<!-- Nlog 文档参考地址：https://github.com/NLog/NLog/wiki -->
	<!-- NLog 内部日志记录为Off关闭。除非纠错，不可以设为 Trace。否则速度很慢，起码 Debug 以上。-->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- 文件输出 -->
		<target name="log_file" xsi:type="File"
				fileName="logs/${logger:shortName=true}/${level:uppercase=true}/${shortdate}.log"
				layout="${longdate} [${uppercase:${level}}] [${mdlc:item=RequestId:whenEmpty=${aspnet-traceidentifier}}] [${logger}] [${mdlc:item=RequestMethod:whenEmpty=}] ${mdlc:item=RequestPath:whenEmpty=} ${mdlc:item=Elapsed:whenEmpty=} ${message}${onexception:inner=${newline}位置信息：${callsite}${newline}堆栈信息：${stacktrace}${newline}错误信息：${exception:format=ToString}}"
				archiveAboveSize="20485760"
				archiveNumbering="Sequence"
				maxArchiveFiles="30"
				concurrentWrites="true"
				keepFileOpen="false"
				encoding="utf-8">
		</target>

		<!-- 控制台输出 -->
		<target name="log_console" xsi:type="ColoredConsole"
				useDefaultRowHighlightingRules="true"
				layout="${longdate} [${uppercase:${level}}] [${mdlc:item=RequestId:whenEmpty=${aspnet-traceidentifier}}] [${logger:shortName=true}] [${mdlc:item=RequestMethod:whenEmpty=}] ${mdlc:item=RequestPath:whenEmpty=} ${mdlc:item=Elapsed:whenEmpty=} ${message}${onexception:inner=${newline}位置信息：${callsite}${newline}堆栈信息：${stacktrace}${newline}错误信息：${exception:format=ToString}}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta" backgroundColor="White" />
		</target>
	</targets>

	<rules>
		<!-- 如果将 minlevel 设置为 Off，则该类别下的所有日志都不会被记录。 -->
		<!-- 跳过所有级别的Microsoft组件的日志记录 -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="FuturePrelude.Quartz.*" minlevel="Info" writeTo="log_console,log_file" />
		<logger name="*" minlevel="Info" writeTo="log_console,log_file" />
	</rules>
</nlog>